        /* FILEPATH: /static/css/styles.css */
        body {
            font-family: 'Trebuchet MS', sans-serif;
            background-color: #f4f4f4;
            color: #333333;
            margin: 0;
            padding: 0;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 40px;
            background-color: #ffffff;
        }

        .navbar a {
            color: #045494;
            text-decoration: none;
            margin: 0 15px;
        }

        .navbar a:hover {
            text-decoration: underline;
        }

        .cta-button {
            background-color: rgb(188, 204, 4);
            color: #045494;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .cta-button:hover {
            background-color: #d1dc00;
        }

        @media (max-width: 768px) {
            .navbar {
                flex-direction: column;
            }
        }
