<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Familienfinanzen Übersicht</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Navigationsleiste -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin_dashboard">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation umschalten">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/modify_lessons">Lektion bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_users">Benutzer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_subjects">Fächer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_family">Familie bearbeiten</a>
                </li>
                <!-- Weitere Links hinzufügen, falls erforderlich -->
            </ul>
        </div>
    </nav>
    <br>
    <div class="d-flex justify-content-center mb-3">
        <a href="/admin/finances" class="btn btn-info mr-2">Globale Finanzen</a>
        <a href="/admin/finances/tutors" class="btn btn-info">Finanzen der Tutoren</a>
    </div>
    
    <div class="container mt-5">
        <h1>Familienfinanzen Übersicht</h1>
        <form method="POST">
            <div class="form-group">
                <label for="family_id">Familie auswählen:</label>
                <select name="family_id" id="family_id" class="form-control">
                    <option value="Alle" {% if selected_family_id == 'Alle' %}selected{% endif %}>Alle</option>
                    {% for family in families %}
                        <option value="{{ family.id }}" {% if family.id == selected_family_id|int %}selected{% endif %}>
                            {{ family.name }}
                        </option>
                    {% endfor %}
                </select>
                
                
            </div>
            <div class="form-group">
                <label for="from_date">Von Datum:</label>
                <input type="date" class="form-control" id="from_date" name="from_date" value="{{ default_from_date }}">
            </div>
            <div class="form-group">
                <label for="end_date">Bis Datum:</label>
                <input type="date" class="form-control" id="end_date" name="end_date" value="{{ default_end_date }}">
            </div>
            <div class="d-flex">
                <button type="submit" class="btn btn-primary">Filtern</button>
                <a href="{{ url_for('download_family_finances_pdf', family_id=selected_family_id, from_date=default_from_date, end_date=default_end_date) }}" class="btn btn-success ml-3">PDF herunterladen</a>
            </div>
        </form>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th>Datum</th>
                    <th>Fach</th>
                    <th>Schülername</th>
                    <th>Stundenpreis</th>
                    <th>Rabatt</th>
                    <th>Endpreis</th>
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.subject_name }}</td>
                        <td>{{ lesson.student_name }}</td>
                        <td>{{ lesson.price }}</td>
                        <td>{{ lesson.discount }}</td>
                        <td>{{ lesson.final_price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Umsatz</h5>
                <p class="card-text">{{ total }}</p>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
