<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery (required for Bootstrap's JavaScript) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Popper.js (required for Bootstrap's JavaScript) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .container {
            max-width: 80%; /* or any other percentage or fixed width */
            margin: auto; /* center the container */
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="modal fade" id="lessonDetailsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="lessonDetailsModalLabel">Lektion Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
                </div>
                <div class="modal-body">
                    <!-- Dynamische Lektionsdetails werden hier geladen -->
                    <div id="lessonDetailsContent"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Navigationsleiste -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin_dashboard">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Navigation umschalten">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/modify_lessons">Lektion bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_users">Benutzer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_subjects">Fächer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_family">Familie bearbeiten</a>
                </li>
                <!-- Weitere Links hinzufügen, falls erforderlich -->
            </ul>
        </div>
    </nav>


    <div style="display: flex; margin-top: 20px;">
        <div style="margin-right: 20px;">
            <a href="/add_lesson" class="btn btn-success" style="margin-bottom: 10px;">Neue Lektion</a>
            <a href="/admin/finances" class="btn btn-primary" style="margin-bottom: 10px;">Finanzen</a>

            <a href="/admin/report_cards" class="btn btn-info">Berichs</a>
        </div>
        <div id='calendar'></div>
    </div>


    <!-- Bootstrap und jQuery Skripte -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/de.js"></script>

    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                height: 800, // Die Höhe auf auto setzen
                navLinks: true,
                editable: true,
                eventLimit: true,
                events: '/api/lessons', // Ereignisse von der API-Endpunkt abrufen
                eventClick: function(calEvent, jsEvent, view) {
                    window.location.href = '/lesson/' + calEvent.id;
                },
                timeFormat: 'H:mm', // Zeitformat
                locale: 'de'
            });
        });
    </script>
</body>
</html>