<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tutor Profil erstellen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .container {
            margin-bottom: 50px;
        }

        .form-group {
            margin-bottom: 20px;
        }

        #selected-subjects-display {
            margin-top: 20px;
        }

        #selected-subjects-tbody {
            margin-top: 10px;
        }

        .btn-primary {
            margin-top: 20px;
        }

        .day-container {
            margin-bottom: 20px;
        }

        .subject-container {
            margin-bottom: 20px;
        }

        .day-group {
            display: flex;
            justify-content: space-between;
        }

        .day-column {
            width: 48%;
        }
    </style>
</head>
<body>
    <div class="container mt-4">
        <h2>Tutor Profil erstellen</h2>
        <form action="{{ url_for('create_tutor_profile') }}" method="post">
            <!-- Name input -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <!-- Verfügbarkeitszeiten -->
            {% for day in ["Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"] %}
                {% if loop.index % 2 == 1 %}
                    <div class="day-group">
                {% endif %}
                <div class="day-column">
                    <div class="day-container">
                        <h3>{{ day }}</h3>
                        <div class="subject-container">
                            <label for="{{ day.lower() }}_start_1">{{ day }} Startzeit 1:</label>
                            <input type="time" id="{{ day.lower() }}_start_1" name="{{ day.lower() }}_start_1">
                        </div>

                        <div class="subject-container">
                            <label for="{{ day.lower() }}_end_1">{{ day }} Endzeit 1:</label>
                            <input type="time" id="{{ day.lower() }}_end_1" name="{{ day.lower() }}_end_1">
                        </div>

                        <div class="subject-container">
                            <label for="{{ day.lower() }}_start_2">{{ day }} Startzeit 2:</label>
                            <input type="time" id="{{ day.lower() }}_start_2" name="{{ day.lower() }}_start_2">
                        </div>

                        <div class="subject-container">
                            <label for="{{ day.lower() }}_end_2">{{ day }} Endzeit 2:</label>
                            <input type="time" id="{{ day.lower() }}_end_2" name="{{ day.lower() }}_end_2">
                        </div>
                    </div>
                </div>
                {% if loop.index % 2 == 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}

            <!-- Schultyp und Fachauswahl -->
            <div class="form-group">
                <label for="schooltype-select">Schultyp auswählen:</label>
                <select class="form-control" id="schooltype-select" onchange="loadSubjects(this.value)">
                    <option value="">Schultyp auswählen</option>
                    {% for schooltype in schooltypes %}
                    <option value="{{ schooltype.schooltype_id }}">{{ schooltype.schooltype_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject-select">Fach auswählen:</label>
                <select class="form-control" id="subject-select" name="selected_subject_input" multiple>
                    {% for subject in all_subjects %}
                    <option value="{{ subject.subject_id }}">{{ subject.subject_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="btn btn-secondary" onclick="addSubject()">Fach hinzufügen</button>

            <!-- Ausgewählte Fächer Liste -->
            <ul id="selected-subjects-list"></ul>

            <!-- Verstecktes Feld zur Speicherung der ausgewählten Fach-IDs -->
            <input type="hidden" name="selected_subject_ids" id="selected-subjects-input">

            <!-- Hier wird die ausgewählten Fächer angezeigt -->
            <div id="selected-subjects-display">
                <h4>Ausgewählte Fächer:</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Schultyp</th>
                            <th>Fach</th>
                        </tr>
                    </thead>
                    <tbody id="selected-subjects-tbody">
                        <!-- Fächer werden hier hinzugefügt -->
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-primary">Profil erstellen</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function loadSubjects(schooltypeId) {
            const subjectSelect = document.getElementById('subject-select');
            subjectSelect.innerHTML = ''; // Vorherige Optionen löschen
            if (!schooltypeId) {
                subjectSelect.disabled = true; // Deaktivieren, wenn kein Schultyp ausgewählt ist
                return;
            }

            fetch('/api/subjects/' + schooltypeId)
                .then(response => response.json())
                .then(subjects => {
                    subjects.forEach(subject => {
                        const option = document.createElement('option');
                        option.value = subject.id;
                        option.textContent = subject.name;
                        subjectSelect.appendChild(option);
                    });
                    subjectSelect.disabled = false; // Fachauswahl aktivieren
                })
                .catch(error => {
                    console.error('Fehler beim Laden der Fächer:', error);
                    subjectSelect.innerHTML = '<option>Fehler beim Laden der Fächer</option>';
                });
        }

        function addSubject() {
            var subjectSelect = document.getElementById('subject-select');
            var selectedOption = subjectSelect.options[subjectSelect.selectedIndex];
            var schooltypeSelect = document.getElementById('schooltype-select');
            var selectedSchooltype = schooltypeSelect.options[schooltypeSelect.selectedIndex].text;
            var subjectsTableBody = document.getElementById('selected-subjects-tbody');
            var selectedSubjectsInput = document.getElementById('selected-subjects-input');

            if (subjectSelect.value) {
                // Fach zur Anzeigetabelle hinzufügen
                var row = document.createElement('tr');
                row.innerHTML = `<td>${selectedSchooltype}</td><td>${selectedOption.text}</td>`;
                subjectsTableBody.appendChild(row);

                // Verstecktes Eingabefeld aktualisieren
                var currentSubjects = selectedSubjectsInput.value ? selectedSubjectsInput.value.split(',') : [];
                currentSubjects.push(subjectSelect.value);
                selectedSubjectsInput.value = currentSubjects.join(',');
            }
        }

        function updateSelectedSubjectsInput() {
            var selectedSubjects = [];
            var listItems = document.getElementById('selected-subjects-list').getElementsByTagName('li');
            for (var i = 0; i < listItems.length; i++) {
                selectedSubjects.push(listItems[i].getAttribute('data-subject-id'));
            }
            document.getElementById('selected-subjects-input').value = selectedSubjects.join(',');
        }
    </script>
</body>
</html>
