<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tutor Bearbeiten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Profil Bearbeiten</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/reset_password">Passwort ändern</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view_students">Schüler Übersicht</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tutor/edit_tutor">Profil bearbeiten</a>
                </li>
                

            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Fächer</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Fach</th>
                    <th>Löschen</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.schooltype.schooltype_name }}</td>
                    <td>{{ subject.subject_name }}</td>
                    <td><a href="/delete_subject/{{ subject.subject_id }}">Löschen</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="window.location.href='/add_subject'">Add Subject</button>
    </div>


</body>
<script>
    
</script>