<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tutor Profil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .day-pair {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 20px;
    }

    .day-column {
        margin-bottom: 40px;
        flex: 1 0 30%;
    }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Tutoren Kabinett</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/change_password">Passwort zurücksetzen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/view_students">Schüler anzeigen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/lessons">Stunden-Übersicht</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/tutor/edit_tutor">Fächer anzeigen</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Fächer und Arbeitszeiten</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Fach</th>
                    <th>Löschen</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.schooltype.schooltype_name }}</td>
                    <td>{{ subject.subject_name }}</td>
                    <td>
                        <form action="/tutor/delete_subject/{{ subject.subject_id }}" method="post">
                            <input type="hidden" name="subject_id" value="{{ subject.subject_id }}">
                            <button type="submit">Löschen</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="window.location.href='/tutor/add_subject'">Add Subject</button>
    </div>
    <hr>
    <form action="/tutor/edit_tutor" method="post">
        <div class="container">
            {% for day_id in range(1, 7) %}
                {% set day_times = times|selectattr('weekday_id', 'equalto', day_id)|list %}
                {% if day_times %}
                    {% set time1 = day_times[0] %}
                    {% set time2 = day_times[1] if day_times|length > 1 else None %}
                {% else %}
                    {% set time1 = None %}
                    {% set time2 = None %}
                {% endif %}
                <div class="day-column">
                    <h3>{{ ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'][day_id - 1] }}</h3>
                    <div>
                        <label for="day{{ day_id }}_start_1">Startzeit 1:</label>
                        <input type="time" id="day{{ day_id }}_start_1" name="day{{ day_id }}_start_1" value="{{ time1.start_time.strftime('%H:%M') if time1 else '00:00' }}">
                    </div>
                    <div>
                        <label for="day{{ day_id }}_end_1">Endzeit 1:</label>
                        <input type="time" id="day{{ day_id }}_end_1" name="day{{ day_id }}_end_1" value="{{ time1.end_time.strftime('%H:%M') if time1 else '00:00' }}">
                    </div>
                    <div>
                        <label for="day{{ day_id }}_start_2">Startzeit 2:</label>
                        <input type="time" id="day{{ day_id }}_start_2" name="day{{ day_id }}_start_2" value="{{ time2.start_time.strftime('%H:%M') if time2 else '00:00' }}">
                    </div>
                    <div>
                        <label for="day{{ day_id }}_end_2">Endzeit 2:</label>
                        <input type="time" id="day{{ day_id }}_end_2" name="day{{ day_id }}_end_2" value="{{ time2.end_time.strftime('%H:%M') if time2 else '00:00' }}">
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="text-center mt-4">
            <input type="submit" value="Update Times" class="btn btn-primary">
        </div>
    </form>
    <div class="mb-5"></div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0ouHWeg6AZtp5Gevot8B4m?utm_source=generator" width="50%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    


</body>
<script>
    
</script>