<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tutor Profil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <style>
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .day-pair {
        display: flex;
        flex-direction: column;
        width: 45%;
        margin-bottom: 20px;
    }

    .day-column {
        margin-bottom: 40px;
        flex: 1 0 30%;
    }
    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/tutor_profile">Tutoren Kabinett</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/change_password">Passwort zurücksetzen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/view_students">Schüler anzeigen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/lessons">Stunden-Übersicht</a>
                </li>
                <li class="nav-item avtive">
                    <a class="nav-link" href="/tutor/edit_tutor">Fächer anzeigen</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Fächer und Arbeitszeiten</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Niveau</th>
                    <th>Fach</th>
                    <th>Löschen</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.schooltype.schooltype_name }}</td>
                    <td>{{ subject.subject_name }}</td>
                    <td>
                        <form action="/tutor/delete_subject/{{ subject.subject_id }}" method="post">
                            <input type="hidden" name="subject_id" value="{{ subject.subject_id }}">
                            <button type="submit">Löschen</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="window.location.href='/tutor/add_subject'">Add Subject</button>
    </div>
    <hr>
    <div class="container mt-4">
        <form action="/tutor/edit_tutor" method="post">
            <table>
                <tr>
                    <th>Day</th>
                    <th>Time Slot (Start - End)</th>
                </tr>
                {% for day_id, time in times.items() %}
                <tr>
                    <td>Day {{ day_id }}</td>
                    <td class="text-center align-middle">
                        <input type="time" name="start_time_{{ day_id }}" value="{{ time.start_time if time else '' }}" class="time-input">
                        -
                        <input type="time" name="end_time_{{ day_id }}" value="{{ time.end_time if time else '' }}" class="time-input">
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="text-center mt-4">
                <input type="submit" value="Update Times" class="btn btn-primary">
            </div>
        </form>
    </div>
   
    
    
    <div class="mb-5"></div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0ouHWeg6AZtp5Gevot8B4m?utm_source=generator" width="50%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    


</body>
<script>
    
</script>