<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
</head>
<body>
    <button onclick="goBack()" style="margin: 20px; padding: 10px;">Zurück</button>
    <div class="container">
        <h1>Lektion bearbeiten</h1>
        <form method="POST" action="{{ url_for('update_lesson', lesson_id=lesson.lesson_id) }}">
            <div class="form-group">
                <label for="students">Students</label>
                {% for student in students %}
                    <p>{{ student.FirstName }} {{ student.LastName }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="has_occured">Hat stattgefunden</label>
                <input type="checkbox" id="has_occured" name="has_occured" {% if lesson.has_occured %}checked{% endif %}>
            </div>
            <div class="form-group">
                <label for="schooltype">Schultyp</label>
                <select class="form-control" id="schooltype" name="schooltype" required>
                    {% for schooltype in schooltypes %}
                        <option value="{{ schooltype.schooltype_id }}" {% if schooltype.schooltype_id == subject.schooltype_id %}selected{% endif %}>{{ schooltype.schooltype_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="subject">Fach</label>
                <select class="form-control" id="subject" name="subject" required>
                    <!-- Options will be populated by JavaScript -->
                    <option value="{{ subject.subject_id }}" selected>{{ subject.subject_name }}</option>
                </select>
            </div>
            
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="date">Datum</label>
                    <input type="date" class="form-control" id="date" name="date" value="{{ lesson.date }}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="start_time">Startzeit</label>
                    <input type="time" class="form-control" id="start_time" name="start_time" value="{{ lesson.start_time }}" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="end_time">Endzeit</label>
                    <input type="time" class="form-control" id="end_time" name="end_time" value="{{ lesson.end_time }}" required>
                </div>
            </div>
            
            
            
            <div class="form-group">
                <label for="notes">Notizen</label>
                {% for note in notes %}
                    <p>{{ note.content }}</p>
                {% endfor %}
            </div>
            {% if is_admin %}
            <div class="form-group">
                <label for="tutor_id">Tutor</label>
                <select name="tutor_id">
                    {% for teacher in tutoren %}
                    <option value="{{ teacher.tutor_id }}" {% if teacher.tutor_id == tutor.tutor_id %} selected {% endif %}>{{ teacher.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="price">Preis</label>
                    <input type="number" step="1" class="form-control" id="price" name="price" value="{{ lesson.price }}" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="price_adjustment">Price Adjustment</label>
                    <select class="form-control" id="price_adjustment" name="price_adjustment" required>
                        {% for adjustment in price_adjustments %}
                            <option value="{{ adjustment.id }}" data-value="{{ adjustment.value }}" {% if adjustment.id == lesson.price_adjustment_id %}selected{% endif %}>{{ adjustment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="final_price">Endpreis</label>
                <input type="number" step="0.01" class="form-control" id="final_price" name="final_price" value="{{ lesson.final_price }}" required>
            </div>
            <button class="btn btn-danger" onclick="deleteLesson(event, {{ lesson.lesson_id }})">Delete Lesson</button>
            {% endif %}
            <button type="submit" class="btn btn-primary">Lektion aktualisieren</button>
            <script>
                function deleteLesson(event, lessonId) {
                    event.preventDefault();

                    fetch('/delete_lesson/' + lessonId, {
                        method: 'POST'
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.message) {
                            alert(data.message);
                        }
                        // Redirect to the lessons list page
                        window.location.href = "/modify_lessons";
                    })
                    .catch(error => {
                        console.error('There has been a problem with your fetch operation:', error);
                    });
                }
                </script>
        </form>
        
    </div>
</body>
<script>
    const schooltypeSelect = document.getElementById('schooltype');
    const subjectSelect = document.getElementById('subject');
    // Get the price, price adjustment, and final price fields
    const priceField = document.getElementById('price');
    const priceAdjustmentField = document.getElementById('price_adjustment');
    const finalPriceField = document.getElementById('final_price');
    // Flag to track if the price or price adjustment has been changed by the user
    let isUserChanged = false;

    // Function to calculate the final price
    function calculateFinalPrice() {
        // If the price or price adjustment has not been changed by the user, do not calculate and update the final price
        if (!isUserChanged) {
            return;
        }

        const price = parseFloat(priceField.value);
        const priceAdjustmentOption = priceAdjustmentField.options[priceAdjustmentField.selectedIndex];
        const priceAdjustment = parseFloat(priceAdjustmentOption.getAttribute('data-value'));

        // Calculate the final price
        const finalPrice = price * (1 - priceAdjustment);

        // Set the value of the final price field
        finalPriceField.value = finalPrice.toFixed(2);
    }

    // Add event listeners to the price and price adjustment fields
    priceField.addEventListener('input', function() {
        isUserChanged = true;
        calculateFinalPrice();
    });
    priceAdjustmentField.addEventListener('change', function() {
        isUserChanged = true;
        calculateFinalPrice();
    });

    function handleSchooltypeSelection() {
        const schooltypeId = this.value;
        if (schooltypeId) {
            fetchSubjects(schooltypeId);
        } else {
            clearDropdown(subjectSelect);
        }
    }

    function fetchSubjects(schooltypeId) {
        fetch(`/api/subjects/${schooltypeId}`)
        .then(response => response.json())
        .then(subjects => {
            populateDropdown(subjectSelect, subjects, 'Fach auswählen');
        })
        .catch(error => console.error('Fehler:', error));
    }

    function clearDropdown(dropdown) {
        while (dropdown.firstChild) {
            dropdown.removeChild(dropdown.firstChild);
        }
    }

    function populateDropdown(dropdown, items, defaultText) {
        clearDropdown(dropdown);

        const defaultOption = document.createElement('option');
        defaultOption.text = defaultText;
        dropdown.add(defaultOption);

        items.forEach(item => {
            const option = document.createElement('option');
            option.value = item.id;
            option.text = item.name;
            dropdown.add(option);
        });
    }

    schooltypeSelect.addEventListener('change', handleSchooltypeSelection);
</script>
<script>
    function goBack() {
        window.history.back();
    }
</script>