<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modify Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #lessons-table tr.selected {
            background-color: #add8e6;
        }
    </style>
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin_dashboard">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/modify_lessons">Modify Lesson</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/modify_users">Modify Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_subjects">Modify Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_family">Modify Family</a>
                </li>
                <!-- Add more links as needed -->
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Users</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Is Tutor</th>
                    <th>Edit</th> <!-- Add new column for Edit button -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.is_tutor }}</td>
                    <td><a href="/edit_user/{{ user.user_id }}">Edit</a></td> <!-- Add Edit button with dynamic user_id -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="window.location.href='/create_user'">Add New User</button>
    </div>


</body>
<script>
    
</script>