<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Benutzer bearbeiten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        #lessons-table tr.selected {
            background-color: #add8e6;
        }
    </style>
</head>
<body>
    <!-- Navigationsleiste -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin_dashboard">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/modify_lessons">Lektion bearbeiten</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/modify_users">Benutzer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_subjects">Fächer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_family">Familie bearbeiten</a>
                </li>
                <!-- Weitere Links hinzufügen, falls erforderlich -->
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <h2>Nutzer</h2>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success" onclick="window.location.href='/create_user'">Neuen Nutzer hinzufügen</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nutzer-ID</th>
                    <th>Nutzername</th>
                    <th>Rolle</th>
                    <th>Ist Tutor</th>
                    <th>Bearbeiten</th> <!-- Neue Spalte für Bearbeiten-Button hinzufügen -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        {% if user.is_tutor %}
                            <a href="/tutor/{{ user.user_id }}" class="btn btn-primary">Profil ansehen</a>
                        {% else %}
                            Nicht Tutor
                        {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteUser(event, {{ user.user_id }})">Nutzer löschen</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
    <script>
    
    function deleteUser(event, userId) {
    event.preventDefault();

    fetch('/delete_user/' + userId, {
        method: 'POST'
    })
    .then(response => response.json())
    .then(data => {
        if (data.message) {
            alert(data.message);
        }
        location.reload();
    });
    }
    </script>

</body>
<script>
    
</script>