<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Fächer bearbeiten</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Fügen Sie hier zusätzliche CSS-Dateien hinzu -->
    <style>
        .fc-day-grid-event .fc-content {
            white-space: normal;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
</head>
<body>
    <!-- Navigationsleiste -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/admin_dashboard">Admin Panel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/modify_lessons">Lektion bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/modify_users">Benutzer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_subjects">Fächer bearbeiten</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modify_family">Familie bearbeiten</a>
                </li>
                <!-- Weitere Links hinzufügen, falls erforderlich -->
            </ul>
        </div>
    </nav>

    <!-- Hauptinhalt -->
    <div class="container mt-4">
        <h2>Fächer bearbeiten</h2>

        

        <!-- Liste der Fächer -->
        <table class="table">
            <thead>
                <tr>
                    <th>Schulart</th>
                    <th>Fachname</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects %}
                <tr>
                    <td>{{ subject.schooltype.schooltype_name }}</td>
                    <td>{{ subject.subject_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="my-2">
            <a href="{{ url_for('add_schooltype') }}" class="btn btn-primary">Schulart hinzufügen</a>
            <a href="{{ url_for('add_subject') }}" class="btn btn-secondary">Fach hinzufügen</a>
        </div>

    </div>

    <!-- Skripte -->
    <!-- Bootstrap- und jQuery-Skripte hier -->
    <!-- Bootstrap- und jQuery-Skripte -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
