<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Tutor Profil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <style>
        body {
            background-color: #f0f0f0; /* Very light grey */
        }
        #calendar {
            margin: auto;
            padding: 10px;
            max-width: 95%;
            height: 50%;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/tutor_profile">Tutoren Kabinett</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/change_password">Passwort zurücksetzen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/view_students">Schüler anzeigen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/lessons">Stunden-Übersicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tutor/edit_tutor">Tutor Profil</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid mt-4">
        <h2>Welcome, {{ tutor.name }}</h2>
        <div id='calendar' class='mt-4'></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/locale/de.js"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                height: 900,

                navLinks: true,
                editable: true,
                eventLimit: true,
                events: '/api/tutor_lessons', // Adjust the endpoint as necessary
                eventClick: function(calEvent, jsEvent, view) {
                    window.location.href = '/lesson/' + calEvent.id; // Adjust as necessary
                },
                timeFormat: 'H:mm',
                locale: 'de'
            });
        });
    </script>
</body>
</html>
